// Framework
@import "settings";
@import "framework/all";

// Sprites
@import "mixins/sprite";
@import "partials/sprites";

// Partials
@import "partials/typography";
@import "partials/forms";
@import "partials/elements";
@import "font-awesome";

@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('./fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('./fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('./fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('./fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('./fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// Custom CSS below

.svg-sprite-inline-fallback {
    display: none !important;
}
::selection {
    background: #666;
    color: black-or-white(#666, 65);
}

* {
  /*font-family: "ff-tisa-sans-web-pro",sans-serif;*/
}
a {
    font-family: "Overpass",sans-serif;
}
p:empty {
  display: none;
}
p {
    line-height: 1.6;
    margin-top: 9px;
}
p strong{
    line-height: 1.8;
}

li {
  line-height: 27px;
}
.row{
  max-width: 1200px;
}
//Gravity forms


body .gform_wrapper input.large,
body .gform_wrapper input.medium,
body .gform_wrapper input.small,
body .gform_wrapper select.large,
body .gform_wrapper select.medium,
body .gform_wrapper select.small{
  border:1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  line-height:50px;
  height:45px;
  outline:none;
}

body .gform_wrapper textarea.small,
body .gform_wrapper textarea.medium,
body .gform_wrapper textarea.large{
  border:1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  line-height:30px;
  outline:none;
  font-family: "Overpass",sans-serif;
}
body .gform_wrapper ul.gform_fields li.gfield {
  padding-right:0;
}

body .gform_wrapper .top_label input.medium,
body .gform_wrapper .top_label select.medium {
  width:50%;
}

body .gform_wrapper li.gfield.gfield_error,
body .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color:#eaeaea;
  border:none;
}

body .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
body .gform_wrapper li.gfield_error textarea {
  border-color:#d16915;
}
body .gform_wrapper .top_label .gfield_label,
body .gform_wrapper .description_above .gfield_description {
    color: #666;
    font-family: "Overpass",sans-serif;
}
body .gform_wrapper .gform_fields {
    list-style-type: none;
    padding-left: 0;
}

.warningTextareaInfo {
  color: #666;
  font-family: "Overpass",sans-serif;
}

.gfield_checkbox {
  margin: 10px 0;
  padding: 0;
  > li {
    list-style: none;
    label {
      color: #666;
      font-family: "Overpass",sans-serif;
    }
  }
}

/*header*/
.header{
  min-height: 100px;
  background-color: $white;
}
.logo {
  display: inline-block;
  position: relative;
  z-index:9;
  padding-top: 9px;
  img{
    max-width: 200px;
  }
}
// NAVIGATION
.header-section{
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  margin-bottom: 25px;
  &__caption{
    &-title{
      p {
        font-size: 32px;
        color: $title-color;
        font-family: $main_font;
        background-color: $main_col_1;
        display: inline-block;
        line-height: 45px;
        padding: 0 10px 0 10px;
        margin-bottom: 15px;
        margin-top: 0;
      }
    }
  }
}
.no-header{
  min-height: auto;
  border-bottom: 1px solid #bbbbbb;
}
.header-caption-row{
  position: absolute;
  left:0;
  width: 100%;
  bottom: 45px;
}

// NAVIGATION

.main-nav{
  line-height: 100px;
  li{
    a{
      text-decoration: none;
      //transition: .4s all;
      color: $text-color;
      font-size:20px;
      font-family:$main_font;
      font-weight:normal;
      &:hover,
      &:focus{
        color: $main_col_2;
      }
    }
  }
  .current-menu-item{
    a{
      color: $main_col_2;
      font-weight:normal;
    }
  }
}
.main-nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  >.current_page_parent{
    a{
      color: $primary-color;
      font-weight:normal;

    }
  }
  li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
    a {
      display: inline-block;
      font-size: 20px;
      font-weight:700;
      font-weight:normal;
    }
    &:hover{
      a{
        color: $main_col_2;
      }
    }

    &:before{
      display: none;
    }
  }
  .menu-item-has-children {
    position: relative;
    padding-bottom: 37px;
    li{
      margin-left:0;
      a{
        font-size:14px !important;
      }
    }
    a{
      white-space: nowrap;
    }
    .sub-menu {
      height: auto !important;
      position: absolute;
      min-width: 100%;
      left: 50%;
      top: 67px;
      transform: translate(-50%);
      margin-top: -1px;
      z-index: 600;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      &:before{
        content:"";
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $main_col_2;
        position: absolute;
        left: 50%;
        top: -15px;
        transform: translate(-50%);
      }
      .menu-item-has-children{
        position: relative;
        padding-bottom: 0;
        &:hover:after,
        &:after {
          display: none;
        }
        .sub-menu{
          padding-left: 10px;
          left: 100%;
          top: 2px;
        }
      }
      a{
        font-size:14px;
      }
      li{
        min-height: 45px;
        min-width: 200px;
        margin-bottom: 4px;
        background-color: $main_col_2;
        transition: background-color .4s ease-in-out;
        margin-bottom: 1px;

        font-size:16px;
        font-family:$main_font;
        &.current_page_ancestor,
        &.current-menu-item,
        &:hover{
          background-color: $main_col_1;
        }
      }
    }
    &:hover {
      &:after{
        position: absolute;
        right: -15px;
        top: 12px;
        width: 10px;
        height: 6px;
        content:"";
        background-image: url("images/arrow-down.png");
        background-repeat: no-repeat;
        display: inline-block;
      }
      > .sub-menu {
        display: block;
        padding: 0 ;
        width: auto;
        overflow: visible;
        clip: auto;
        position: absolute !important;

        li {
          display: block;
          text-align: left;
          a {
            color: $title-color;
            font-weight:normal;
            display: block;
            font-size: 18px;
            line-height: 18px;
            padding: 10px;
          }
        }
      }
    }
  }
}
.main-nav .menu-item-has-children .sub-menu .menu-item-has-children .sub-menu {
  left: 296px;
  &:before{
    display: none;
  }
}
  .menu-controls__close,
.menu-controls__open {
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
  background-color: rgba($main_col_2, .6);
  border-radius: 2px;
  width: 40px;
  z-index:9999999;
  height: 40px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s all;
  &:hover {
    background-color: rgba($main_col_2, 1);
  }
  svg {

  }
}

.mobile-nav {
  position:fixed;
  top:-16px;
  padding-top: 100px;
  left:0;
  height: 100%;
  background-color: $main_col_1;
  width: 100%;
  display: none;
  z-index: 999999;
  overflow: scroll;
  li{
    background-color: $main_col_1;
    display: block;
  }
  .sub-menu{
    li {
      a {
        padding-left: 30px;
      }
    }
    .sub-menu{
      li {
        a {
          padding-left: 45px;
        }
      }
    }
  }
}
.mobile-nav {
  padding-left:0;
  ul{
    padding-left: 0;
  }
  li {
    text-align: left;
    background-color: $main_col_1;
    transition: .2s all ease-out;
    &:hover{
      background-color: darken($title-color, 5);
    }
    &:before{
      display: none;
    }
    a {
      text-decoration: none;
      color: $white;
      padding-left: 15px;
      display: block;
      &:hover {

      }
    }
  }
  >li:not(.menu-item-has-children){
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .sub-menu{
    >li:not(.menu-item-has-children){
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

#menu-mobile-nav {
  li {
    a {
      &:hover {

      }
    }
  }
}

#menu-main-nav {
  li {
    a {
      &:hover {

      }
    }
    &.current-menu-item,
    &.current-page-ancestor	{
      a {
      }
    }
  }


  .menu-item-has-children {
    position: relative;
    .sub-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: -1px;
      z-index: 600;
    }
    &:hover {
      .sub-menu {
        display: block;
        background: #fff;
        padding: 0 0 15px 0;
        li {
          display: block;
          text-align: left;

          a {
            display: block;
            font-size: 18px;
            line-height: 18px;
            padding: 15px 26px 15px 26px;
          }

          &:first-of-type {
            a {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

.menu-icon {
  color: #FFF;
  display: block;
  height: 2.5rem;
  padding: 0;
  position: absolute;
  z-index: 400;
  right: 13px;
  top: 26px;
  transform: translate3d(0, 0, 0);
  width: 34px;
  &:before,
    &:after {
    content: "";
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    background: #94c356;
    width: 34px;
    height: 4px;
    left: 0;
  }
  &:before {
    box-shadow: 0 8px 0 0 #94c356;
    position: absolute;
  }
  &:after {
    position: absolute;
    top: 16px;
  }
  &.opened {
    &:before {
      box-shadow: 0 0 0 0 transparent;
      transform: rotate(225deg);
      top: 7px;
    }
    &:after {
      transform: rotate(315deg);
      top: 7px;
    }
  }
}

// ELEMENTS
.universal-button{
  background-color: $main_col_2;
  color: $title-color;
  font-size:16px;
  font-family:$main_font;
  padding: 11px 10px 13px 10px;
  line-height: 1;
  text-decoration: none;
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  &:hover{
    text-decoration: none;
    color: $title-color;
    background-color: $main_col_1;
    .fa{
      text-decoration: none;
      color: $title-color;
      background-color: $main_col_1;
    }
  }
  .fa{
    position: absolute;
    left: 100%;
    top:0;
    background-color: $main_col_1;
    padding: 10px;
    font-size:20px;
  }

}
.slick-slide{
  outline: none;
  .img-holder{
    background-color: #fff;
    font-size: 0;
    text-align: center;
    height: 160px;
    &:before {
      content: '';
      height: 100%;
      width: 0;
      display: inline-block;
      vertical-align: middle;
    }
    > * {
      vertical-align: middle;
      display: inline-block;
    }
    img{
      max-height: 160px;
    }
  }
}
.logos-slider {
    .slick-track {
        margin: 0 auto;
    }
}
.slider-title{
    margin-bottom: 50px;
    @media (max-width: 1024px){
        padding-top: 30px;        
    }
    @media (max-width: 640px){
        padding-top: 40px;
        font-size: 24px;
    }    
}
.property-prev,
.property-next,
.overview{
  background-color: $main_col_2;
  color: $title-color;
  font-size:16px;
  font-family:$main_font;
  padding: 11px 10px 13px 10px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  &:active,
  &:focus,
  &:hover{
    text-decoration: none;
    color: $title-color;
    background-color: $main_col_1;
  }
}
.slider-controls{
  margin-bottom: 50px;
  position: relative;
  &:before{
    content:"";
    position: absolute;
    top:0;
    left: 50%;
    transform:translate(-50%, 0);
    width: 100%;
    max-width: 560px;
    height: 1px;
    background-color: $main_col_1;
  }
}
.sidebar {
  margin: 12px 0 0;
  padding: 0;
  > li {
    list-style: none;
    &:last-child {
      margin-bottom: 42px;
    }
  }
}
.pagination-centered .pagination li {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: top;
}
.pagination.current {
  display: inline-block;
  font-size: 16px;
  line-height: 33px;
  height: 33px;
  width: 33px;
  text-align: center;
  background: $main_col_1;
  color: #fff;
  text-decoration: none;

}
.w_pagination {
  margin-top: 35px;
  > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 33px;
  }
  ul {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    padding-left: 9px;
    li {
      list-style: none;
      display: inline-block;
      margin: 0;
      .current {
        line-height: 33px;
        display: inline-block;
        height: 33px;
        width: 33px;
        text-align: center;
        border:1px solid $main_col_2;
        background: transparent;
        color: $main_col_2;
        text-decoration: none;
        margin: 0;
        font-family:$main_font;
        font-size:18px;
      }
      a {
        line-height: 33px;
        display: inline-block;
        height: 33px;
        width: 33px;
        text-align: center;
        background: $main_col_2;
        color: #fff;
        text-decoration: none;
        margin: 0;
        font-family:$main_font;
        font-size:18px;
        &.prev,
        &.next {
          display: none;
        }
      }
      &.current {
        a {
          color: #fff;
          background: $main_col_1;
        }
      }
    }
  }
}

.btn {
  display: inline-block;
  outline: 0 !important;
  height: 44px;
  line-height: 44px;
  text-align: center;
  padding: 0 37px;
  margin: 0;
  font-size: 20px;
  transition: .2s background;
}

/*.btn_orange {
  color: #fff;
  background: $orange;
  &:hover {
    background: #5d1164;
  }
}*/

.btn_round {
  border-radius: 6px;
}
/* Parts */

.titel-links{
/*    padding-top: 50px;
    padding-bottom: 50px;*/
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 50px;
    .arrow-container {
        display: none;
    }
    .titel-links__title {
        font-size: 26px;
    }
    .titel-links__text {
        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            li {
                padding-left: 40px;
                position: relative;
                font-family: $second_font;
                font-size: 18px;
                color: $text-color;
                font-weight: 300;                
                svg {
                    position: absolute;
                    left: 0;
                    top: 5px;
                    width: 20px;
                    height: 14px;
                }
            }
        }
        ol {
            counter-reset: myCounter;
            list-style-type: none;
            li {
                padding-left: 40px;
                position: relative;
                font-family: "Overpass",sans-serif;
                font-size: 18px;
                color: #666;
                font-weight: 300;
                &:before {
                    counter-increment: myCounter;
                    content: counter(myCounter)'.';                
                    display: inline-block;
                    text-align: center;
                    position: absolute;
                    top: 0;                
                    left: 20px;
                }
            }
        }
    }
}

.projects {
    background-color: $grey-color;
    padding: 50px 0;
    margin-bottom: 50px;
    
    &__title {
        line-height: 1;
    }
    
    &__image-holder {
      border-bottom: 6px solid $main_col_2;
      margin-bottom: 40px;
      overflow: hidden;
      max-width: 100%;
      content:"";
      height: 200px;
      display: block;
    }
    
    &__image{
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      display: block;
      content:'';
      min-height: 200px;
      transition: all .2s ease-in-out;
      
        &:hover { 
            transform: scale(1.1);
        }
    }
    
    &__title-single {
        display: block;        
        color: $main_col_2;
        font-size:26px;
        line-height: 1.25;
        font-family: $main_font;
        font-weight:normal;
        margin: 0;
        margin-bottom: 20px;
        text-decoration: none;
        
        &:hover {
            text-decoration: none;
        }
    }
    
    .project-col {
        margin-top: 40px;
    }
    
    &.click-throught-section {
        .blocks-wrapper {
            font-size: 0;
        }
        .project-col {
            display: inline-block;
            width: 100%;
            max-width: 400px;
            float: none;   
            vertical-align: top;
            
            .projects__title-single {
                text-align: left;
            }
        }        
    }
    
    &.new-projects {
        background-color: #fff;
        padding: 0;
        
        .projects__title {
            margin-bottom: 40px;
            padding: 0;
        }
        
        .projects__internal-link {
            display: inline-block;
            margin-bottom: 40px;
        }
        
        .blocks-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            .project-col {
                margin: 0 0 40px;
            }
        }
        
        .project-item {
            display: flex;
            flex-direction: column;
            height: 100%;
            
            .projects__image-holder {
                margin-bottom: 0;
            }
            
            .info-wrapper {
                flex-grow: 1;
                background-color: #fff;
                border: 1px solid #f0f0f0;
                padding: 30px 25px;
            }
            
            .projects__title-single {
                margin: 0;
            }
        }
    }
}
//Project Overview Page
.exact-project {
    .projects__title-single {
        margin-bottom: 0;
    }
}
.tax-project_categories {
    .projects__title-single {
        margin-bottom: 0;
    }
}
.news-date{
  margin-top: 0;
  margin-bottom: 0;
  font-family: $main_font;
}
.projects-all{
  background-color: transparent;
}
.cat-name{
  font-size:18px;
  color: $text-color;
  font-family:$main_font;
  margin-top: 0;
}
.image-text{
/*    padding-bottom: 50px;
    padding-top: 50px;*/
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom:50px;
    img{
      width: 100%;
      height: auto;
    }
    .button-container {
        height: 46px;
    }
    .image-text__text-holder {
        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            li {
                padding-left: 40px;
                position: relative;
                font-family: $second_font;
                font-size: 18px;
                color: $text-color;
                font-weight: 300;
                &:before {
                    /*content: "\f178";
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    position: absolute;
                    left: 0;
                    top: 5px;
                    color: $main_col_1;
                    */
                }
                svg {
                    position: absolute;
                    left: 0;
                    top: 5px;
                    width: 20px;
                    height: 14px;
                }
            }
        }
        ol {
            counter-reset: myCounter;
            list-style-type: none;
            li {
                padding-left: 40px;
                position: relative;
                font-family: "Overpass",sans-serif;
                font-size: 18px;
                color: #666;
                font-weight: 300;
                &:before {
                    counter-increment: myCounter;
                    content: counter(myCounter)'.';                
                    display: inline-block;
                    text-align: center;
                    position: absolute;
                    top: 0;                
                    left: 20px;
                }
            }
        }
    }    
}
.newsletter-section{
  background-color: $main_col_1;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  &__title,
  &__subtitle{
    color: $title-color;
  }
  &__title{
    margin-bottom: 35px;
  }

  &__form-holder{
    label{
      color: $title-color;
      font-size:18px;
      font-family: $main_font;
      font-weight:normal;
    }
    ul{
      list-style: none;
      margin: 0;
      padding-left: 0;
    }
    .newsletter-field{
      margin-bottom: 20px;
      input {
        width: 100%!important;
        border-radius: 0;
        height: 40px;
        max-width: 260px!important;
      }
      textarea{
        width: 100%!important;
        border-radius: 0;
        max-width: 260px!important;
      }
      span>label{
        display: none;
      }
    }
    .gform_footer{
      display: inline-block;
      position: relative;
      cursor: pointer;
      &:after{
        content: "\f178";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 10px;
        background-color: $main_col_1;
        border: 1px solid #fff;
        color: $title-color;
        position: absolute;
        right: -38px;
        top: 0;
      }
      &:hover {
        .button, input[type="submit"], button {
          text-decoration: none;
          color: $title-color;
          background-color: $main_col_1;
        }
      }
    }
    .button, input[type="submit"], button {
      background-color: $main_col_2;
      color: $title-color;
      font-size:16px;
      font-family:$main_font;
      padding: 10px 10px 12px 10px;
      line-height: 1;
      text-decoration: none;
      display: inline-block;
      margin-top: 0;
      transition: .2s all;
      border-radius: 0;

    }
  }
}

.no-content{
  margin-bottom: 50px;
  margin-top: 50px;
}
.text-section {
    margin-bottom: 50px;
    .arrow-container {
        display: none;
    }
    ul:not(.gform_fields):not(.gfield_checkbox) {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        li {
            padding-left: 40px;
            position: relative;
            font-family: $second_font;
            font-size: 18px;
            color: $text-color;
            font-weight: 300;
            &:before {
                /*content: "\f178";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                position: absolute;
                left: 0;
                top: 5px;
                color: $main_col_1;
                */
            }
            svg {
                position: absolute;
                left: 0;
                top: 5px;
                width: 20px;
                height: 14px;
            }
        }
    }
    ol {
        counter-reset: myCounter;
        list-style-type: none;
        li {
            padding-left: 40px;
            position: relative;
            font-family: "Overpass",sans-serif;
            font-size: 18px;
            color: #666;
            font-weight: 300;
            &:before {
                counter-increment: myCounter;
                content: counter(myCounter)'.';                
                display: inline-block;
                text-align: center;
                position: absolute;
                top: 0;                
                left: 20px;
            }
        }
    }
    ul.gfield_radio {
      li {
        svg {
          display: none;
        }
        label {
          position: relative;
          top: 4px;
        }
      }
    }
  .gform_wrapper {
    margin-bottom: 50px;
  }
  .gform_confirmation_message {
    margin-bottom: 60px;
  }
}
.breadcrumbs {
  margin-bottom: 25px;
  span{
    font-family: $second_font;
    font-size: 16px;
    font-weight: 300;
    color: $text-color;
    a{
      span {
        font-size: 16px;
        font-family: $second_font;
        font-weight: 300;
        color: $main_col_2;
      }
    }
  }
  .breadcrumb-first{
    font-family: $second_font;
    font-size: 16px;
    font-weight: 300;
    color: $text-color;
  }


  .fa{
    margin-left: 5px;
    margin-right: 5px;
    color: $main_col_1;
  }
}
.cat-filter{
  font-size:16px;
  font-family:$second_font;
  color: $text-color;
  font-weight:300;
  select{
    height: 40px;
    background-color: $grey-color;
    border: none;
    margin-left: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* Parts */
// CONTACT FORM 7

.wpcf7-form {
  .wpcf7-radio {
    span {
      cursor: pointer;
    }
  }
  .wpcf7-text,
  .wpcf7-textarea {
    border: 1px solid #ccc;
    color: #363432;
    font-size: 18px;
    padding-left: 11px;
    &:focus {
      outline: none;
    }
  }
  .wpcf7-text {
    height: 48px;
    line-height: 48px;
    width: 100%;
  }
  .wpcf7-textarea {
    height: 134px;
    padding-top: 6px;
    display: block;
    width: 100%;
    resize: none;
  }
  > p {
    margin-bottom: 20px !important;
  }
  .wpcf7-submit {
    color: #f0ece9 !important;
    background: #bf9764;
    outline: 0 !important;
    height: 50px;
    line-height: 50px;
    padding: 0 22px;
    margin: 0;
    font-size: 16px;
    transition: .2s background, .2s border-color;
    font-size: 16px;
    &:hover {
      background: #ac8554;
    }
  }
}
//Gravity forms

/*
body .gform_wrapper input.large,
body .gform_wrapper input.medium,
body .gform_wrapper input.small,
body .gform_wrapper select.large,
body .gform_wrapper select.medium,
body .gform_wrapper select.small{
  border:1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  line-height:50px;
  height:45px;
  outline:none;
}
*/
body .gform_wrapper textarea.small,
body .gform_wrapper textarea.medium,
body .gform_wrapper textarea.large{
  border:1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  line-height:30px;
  outline:none;
}
body .gform_wrapper ul.gform_fields li.gfield {
  padding-right:0;
}

body .gform_wrapper .top_label input.medium,
body .gform_wrapper .top_label select.medium {
  width:50%;
}

body .gform_wrapper li.gfield.gfield_error,
body .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color:transparent;
  border:none;
}

body .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
body .gform_wrapper li.gfield_error textarea {
  border-color:#d16915;
}
.validation_error{
  background-color: $error-color;
  color: $title-color;
  max-width: 260px;
  padding: 10px;
  margin-bottom: 10px;
}

.gfield_description {
    color: #666;
    font-family: "Overpass",sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
}

.validation_message {
    max-width: 260px;
    //background-color: $error-color;
    //color: $error-color;
    
    background-color: $error-color;
    color: $title-color;
    
    //padding: 10px;
}
.gforms_confirmation_message{
  font-family:$main_font;
  color: $title-color;
  font-size:26px;
}
// 404 page

label[for=s] {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 10px;
  display: block;
  vertical-align: middle;
}

#s {
  font-size: 18px;
  padding-left: 14px;
  height: 37px;
  line-height: 37px;
  vertical-align: top;
  &:focus {
    outline: none;
  }
}
footer {
    background-color: $main_col_1;
    color: $title-color;
    //padding-top: 35px;
    font-family: "Overpass",sans-serif;
    padding-top: 25px;
    .tmd {
        margin-top: 0;
        color: $title-color;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 25px;
        font-weight: 300;
        a {
            color: $title-color;
            font-size: 16px;
        }
    }
    .footer-page-link {
        position: relative;
        color: $title-color;
        margin-left: 15px;
        padding-left: 15px;
        text-decoration: none;        
        &:before {
            content:"";
            height: 30px;
            width:1px;
            background-color: $title-color;
            display: inline-block;
            position: absolute;
            left: 0;
            top: -7px;
        }
    }
    a {
        text-decoration: none;
        &:hover {
            color: #fff;
            text-decoration: underline;            
        }
    }
}
.quote-section{
/*  margin-top: 50px;
  margin-bottom: 50px;*/
  margin-top: 0;
  margin-bottom: 50px;
  .quote{
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    h2{
      font-size:24px;
    }
  }
  &__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid $main_col_1;
    border-bottom: 1px solid $main_col_1;
  }
}
.image-section{
  margin-bottom: 50px;
  img{
    width: 100%;
    height: auto;
  }
}
.video-section{
  margin-bottom: 50px;
  iframe{
    width: 100%!important;
  }
}
.text-subtext{
    margin-bottom: 50px;
    .arrow-container {
        display: none;
    }
    &__left {
        ul {
            margin-left: 0;
            padding-left: 0;
            list-style: none;
            li{
                position: relative;
                padding-left: 30px;
                font-size:18px;
                font-weight:300;
                font-family:$second_font;
                color: $text-color;
                &:before {
                    /*content: "\f05d";
                    display: inline-block;
                    font: normal normal normal 20px/1 FontAwesome;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    position: absolute;
                    left:0;
                    top: 4px;
                    color:$main_col_1;*/
                }
                svg {
                    position: absolute;
                    left:0;
                    top: 4px;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    &__right {
        background-color: $grey-color;
        padding: 30px 40px 30px 40px;
        @media(max-width: 640px){
            h2 {
                font-size: 24px;
            }
        }    
        ul {
            margin-left: 0;
            padding-left: 0;
            list-style: none;
            li{
                position: relative;
                padding-left: 30px;
                //font-size:16px;
                font-size:18px;
                font-weight:300;
                font-family:$second_font;
                color: $text-color;
                &:before {
                    /*content: "\f05d";
                    display: inline-block;
                    font: normal normal normal 20px/1 FontAwesome;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    position: absolute;
                    left:0;
                    top: 4px;
                    color:$main_col_1;*/
                }
                svg {
                    position: absolute;
                    left:0;
                    top: 4px;
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .check-icon-container {
            display: none;
        }
    }
    ol {
        counter-reset: myCounter;
        list-style-type: none;
        padding-left: 0;
        li {
            padding-left: 40px;
            position: relative;
            font-family: "Overpass",sans-serif;
            font-size: 18px;
            color: #666;
            font-weight: 300;
            &:before {
                counter-increment: myCounter;
                content: counter(myCounter)'.';                
                display: inline-block;
                text-align: center;
                position: absolute;
                top: 0;                
                left: 20px;
            }
        }
    }
}
.downloads {
    margin-bottom: 50px;
    &__wrapper{
        padding: 30px 40px 30px 40px;
        background-color: $grey-color;
    }
    &__list{
        margin-left: 0;
        padding-left: 0;
        list-style: none;
        li{
            margin-left: 0;
            padding-left: 40px;
            position: relative;
            margin-bottom: 10px;            
            svg {                
                position: absolute;
                left: 0;
                top: 5px;
                width: 16px;
                height: 16px;
            }            
        }
    }
}
.advertisement{
  padding-top: 45px;
  margin-bottom: 50px;
  &__wrapper{
    background-color: $main_col_1;
    padding-top: 45px;
    padding-bottom: 75px;
  }
  h2,h3{
    color: $title-color;
  }
  h2{
    margin-bottom: 25px;
  }
  h3{
    margin-bottom: 45px;
  }
  &__phone,
  &__email{
    font-size:18px;
    color: $title-color;
    font-family:$main_font;
    font-weight:100;
    padding-left: 30px;
    margin-right: 40px;
    position: relative;
  }
    &__phone{
        padding-left: 25px;
        &:before {
            /*content: "\f10b";
            color: $title-color;
            display: inline-block;
            font: normal normal normal 28px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            left: 0;
            top: 0;*/
        }
        svg {
            position: absolute;
            left: 0;
            top: 2px;
            width: 14px;
            height: 20px;
        }
    }
    &__email{
        max-width: 100%;
        word-wrap: break-word;
        &:before {
            /*content: "\f003";
            color: $title-color;
            display: inline-block;
            font: normal normal normal 22px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            left: 0;
            top: 2px;*/
        }
        svg {
            position: absolute;
            left: 0;
            top: 5px;
            width: 20px;
            height: 16px;
        }
    }
  &__image-holder{
    position: relative;
    content: " ";
  }
  &__image{
    max-width: 260px;
    max-height: 260px;
  }
  a {
      &:focus, &:active {
          color: white;
      }  
  }
}
.projectleden{
    margin-bottom: 50px;
    &__title{
        //margin-bottom: 55px;
        @media(max-width: 640px){
            font-size: 24px;
        }
    }
  &__item{
    display: flex;
    margin-bottom: 10px;
    @media only screen and (max-width: 640px) {
      display: block;
    }
    &-image{
      width: 25%;
      min-width: 25%;
      max-width: 25%;
      //max-width: 160px;
      //display: inline-block;
      //float: left;
      background-size: cover;
      background-position: center;
      @media only screen and (max-width: 640px) {
        width: 100%;
        padding-top: 100%;
        min-width: auto;
        max-width: none;
      }
    }
    &-content{
      flex-grow: 1;
      background-color: $grey-color;
      display: inline-block;
      width: calc( 100% - 160px);
      padding: 15px 20px 5px 20px;
    }
    &-job{
      margin-top: 5px;
      margin-bottom: 5px;
      content:" "; 
      min-height: 18px;
      display: block!important;
      width: 100%;
      font-weight:normal;
    }
    &-phone,
    &-linkedin,
    &-email{
      font-size:18px;
      color: $title-color;
      font-family:$main_font;
      font-weight:100;
      padding-left: 30px;
      margin-right: 40px;
      position: relative;
      display: block!important;
      width: 100%;
      min-height: 18px;
      content: "";
      a {
        font-size:18px;
        color: $title-color;
        font-family:$main_font;
        font-weight:100;
        text-decoration: none;
      }
    }
    &-phone{
      color: $main_col_1;
      margin-bottom: 10px;
      a {
        color: $main_col_1;
      }      
      svg {
        position: absolute;
        left: 0;
        top: 4px;
        width: 18px;
        height: 18px;
      }
    }
    &-email{
      color: $main_col_2;
      max-width: 100%;
      word-wrap: break-word;
      margin-bottom: 10px;
      a {
        color: $main_col_2;
      }      
      svg {
        position: absolute;
        left: 0;
        top: 4px;
        width: 18px;
        height: 18px;
      }
    }
    &-linkedin {
      color: #2977c9;
      margin-bottom: 10px;
      a {
        color: #2977c9;
        text-decoration: none;
        &:hover,&:focus {
          color: #2977c9;
        }
      }
      svg {
        position: absolute;
        left: 0;
        top: 2px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
#searchform{
  #s {
    font-size: 18px;
    padding-left: 14px;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    border: 1px solid $main_col_1;
  }
  .btn {

    height: 40px;
  }
}
//Agenda Archive
.agenda-container {
    margin-top: 30px;
    margin-bottom: 60px;
    .item-link {
        color: transparent;
        text-decoration: none;
        &:nth-child(odd){
            .single-item {            
                background-color: #eeeeee;
            }        
        }        
    }
    .single-item {        
        border: 1px solid #eeeeee;
        padding: 30px 40px 40px 40px;        
        .title {
            display: inline-block;
            margin-bottom: 15px;
            text-decoration: none;
        }
        
        .title-area {
            svg {
                display: inline-block;
                width: 20px;
                height: 14px;
                margin-left: 5px;
            }
        }
        .meta-row {
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            .date-row {
                float: left;
                width: 50%;
                @media(max-width:1024px){
                    width: 100%;
                }
            }
            .type-row {
                float: left;
                width: 50%;
                text-align: right;
                @media(max-width:1024px){
                    width: 100%;
                }
            }
            .date-row {
                .text {
                    color: #666;
                    font-size: 20px;
                    font-family: "Bree Serif",serif;
                }
            }
            .type-row {
                padding-top: 8px;
                .text {
                    color: #666;
                    font-family: "Overpass",sans-serif;
                    font-size: 16px;
                    font-weight: 300;                    
                }
            }
        }        
    }
}
//Breadcrumbs
.breadcrumbs {
    .fa-long-arrow-right{
        &:before {
            content: '' !important;
            position: absolute;
            top: -11px;
            right: 6px;
            @include sprite('bread-arrow');
        }
    }
}
//Projects Internal Link
.projects__internal-link {
    position: relative;
    padding-right: 30px;
    svg {
        position: absolute;
	width: 20px;
	height: 14px;
        //top: 0;
        top: 5px;
        right: 0;        
    }
}
//External File Css
.news-date {
    color: #666;
}
.advertisement__image {
    width: 260px;
    height: 260px;
}
.advertisement__email a{
    font-size: 18px;
    color: #fff;
    font-family: "Bree Serif",serif;
    font-weight: 100;
    padding-left: 30px;
    margin-right: 40px;
    position: relative;
    text-decoration: none;
}
.advertisement__email a:hover{
    color: #fff;
    text-decoration: none;
}
.no-header .header-caption-row{
    position: static;
}
.text-subtext__right {
    /*padding: 30px 40px 30px 25px;*/
    margin-left: 15px;
}
.advertisement__email a {
    padding-left: 6px;
}
.slider-controls:before{
    display: none;
}
.image-text h2{
    margin-top: -9px;
}
.universal-button .fa-long-arrow-right:before{
    content: '' !important;
    position: absolute;
    width: 20px;
    height: 14px;
    background-size: cover;
    right: 12px;
    top: 16px;
    background-image: url(images/Slimvectorobject1.svg);
}
.breadcrumbs .fa {
    position: relative;
}
.breadcrumbs span {
    padding-right: 15px;
}

.property-next .fa-long-arrow-right:before {
    content: '' !important;
    position: absolute;
    width: 20px;
    height: 14px;
    background-size: cover;
    right: 9px;
    top: 13px;
    background-image: url(images/Slimvectorobject1.svg);
}
.property-next{
    position: relative;
}
.property-next .fa{
    padding: 7px 10px;
}
.property-prev .fa-long-arrow-left:before{
    content: '' !important;
    position: absolute;
    width: 20px;
    height: 14px;
    background-size: cover;
    right: 9px;
    top: 13px;
    background-image: url(images/arrowiconkopi.svg);
}
.property-prev{
    position: relative;
}
.property-prev .fa{
    padding: 7px 10px;
}
.universal-button .fa {
    width: 46px;
    height: 46px;
}
.universal-button {
    padding: 15px 10px 15px 10px !important;
}
.newsletter-section__form-holder .gform_footer:after{
    content: '' !important;
    padding: 18px !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(images/Slimvectorobject1.svg);
}
.slider-title {
    margin:40px 0 50px;
}
.text-subtext{
    margin-bottom: 60px;
}
.project-col1{
    margin-top: 40px;
}
.text a {
    font-size: 18px;
}
.no-header .header-section__caption{
    display: none;
}
.text-section ol {
    /*list-style: none;*/
    margin-left: 0;
    padding-left: 0;
}
.acf-smart-button-fields{
    width: 100%;
}
.samenwerkingspartners_section {
    .sec-title {
        margin-bottom: 40px;
    }
    .items-wrapper {
        font-size: 0;        
        .item-wrapper {
            display: inline-block;
            width: 260px;
            max-width: 100%;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 40px;
            vertical-align: top;
            background-color: #eeeeee;
            .image-wrapper {                
                height: 132px;
                background-color: white;
                margin: 4px;
                .table-wrapper {
                    display: table;
                    width: 100%;
                    height: 100%;
                    .table-cell-wrapper {
                        display: table-cell;
                        width: 100%;
                        height: 100%;
                        vertical-align: middle;                        
                        .inner-image-wrapper {
                            /*background-color: white;
                            margin: 4px;*/
                            img {
                                display: block;
                                margin: 0 auto;
                                max-width: 252px;
                                max-height: 132px;
                            }
                        }                        
                    }
                }
            }
            .bottom-area {
                padding: 24px 20px 18px 20px;
                .read-w {
                    color: #666666;
                    font-family: "Bree Serif",serif;
                    text-decoration: none;                    
                }
                .arrow {
                    display: inline-block;
                    width: 20px;
                    height: 14px;
                    margin-left: 5px;
                }
            }
        }
    }
}
@media only screen and (max-width: 640px){
    .mobile-nav .sub-menu .sub-menu li a {
        line-height: 20px;
    }
    .mobile-nav>li:not(.menu-item-has-children) {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .logo {
        //z-index: 999999 !important;
        z-index: 9 !important;
    }    
    .projects__title {
        padding-bottom: 20px;
    }
    .text-section {
        padding-top: 30px;
        margin-bottom: 30px !important;
    }    
}
// RESPONSIVE

@media only screen
and (min-width: 641px)  and (max-width : 1024px) {
  .medium-text-center-only{
    text-align: center;
  }
  .main-nav li {
    margin-left: 20px;
    a {
      font-size: 16px;
    }
  }
}
@media (max-width : 1024px) {
    .advertisement {
        &__phone,
        &__email{
            margin-bottom: 15px;
            display: block;
        }
        &__wrapper {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    footer .tmd{
        //margin-top: 30px;
    }
}
  @media only screen
  and (min-width : 1025px) {
    .large-only-text-right{
      text-align: right!important;
    }
    .large-only-text-left{
      text-align: left!important;
    }
    .advertisement {
      &__image {
        position: absolute;
        right: 0;
        top: -95px;
        border: 4px solid $title-color;
      }
    }
    .slick-slide{
      .img-holder{
        img{
          max-width: 160px;
        }
      }
    }

  }

  @media only screen
  and (max-width : 640px) {
    .small-only-text-center{
      text-align: center;
    }
    .advertisement {
      &__image {
        margin-top: 20px;
      }
    }
    .projectleden{
      &__item {
        &-image {
         display: block;
         float: none;
        }
        &-image--default {
          display: block;
          float: none;
        }
        &-content {
          background-color: $grey-color;
          display: block;
          width: 100%;
        }
      }
    }

    .mobile-nav {
      position:fixed;
      top:-16px;
      padding-top: 140px;
      left:0;
      height: 100%;
      background-color: $main_col_1;
      width: 100%;
      display: none;
      z-index: 999999;
      li{
        background-color: $main_col_1;
        &:hover{
          background-color: $main_col_2;
        }
      }
      .current_page_item{
        background-color: $main_col_2;
      }
      .sub-menu{
        li {
          a {
            padding-left: 30px;
          }
        }
        .sub-menu{
          li {
            a {
              padding-left: 45px;
            }
          }
        }
      }
    }
    .menu-controls__close{
      display: none;
      svg{
        margin-top: 10px;
        margin-left: 10px;
      }
    }
    .logo{
        //margin-left: 15px;
    }
    footer{
      .footer-page-link{
        display: block;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
        padding-left: 0;
        &:before{
          display: none;
        }
      }
    }
    .cat-filter{
      text-align: center;
      margin-top: 20px;
    }
    .newsletter-section__form-holder{
      margin-top: 30px;
    }
    #searchform #s {
     margin-bottom: 20px;
    }
    .sticky.fixed{
      position: fixed;
      width: 100%;
      z-index: 9000;
    }
  }
.noScrolling {
    overflow: hidden;
}
#searchform {
    #s {
        height: 46px;
    }    
    .universal-button {
        margin-top: 0;        
    }
}
.padding-top-50 {
    padding-top: 50px;
}
.padding-bottom-50 {
    padding-bottom: 50px;
}
.bg-g {
    background-color: #f0f0f0;
}
.ext-form {
    input[type="text"] {
        margin-bottom: 20px;
        width: 100%;
        border-radius: 0;
        height: 40px;
        max-width: 260px;
    }
    select {
        width: 100%;
        height: 40px;
        max-width: 260px;
        margin-bottom: 20px;
    }
    button[type="submit"]{
        position: relative;
        padding-right: 45px;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 38px;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-image: url(images/Slimvectorobject1.svg);
            border: 1px solid #fff;
        }
    }
}

@import "partials/sticky-banner";