@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7ng44t');
  src:  url('fonts/icomoon.eot?7ng44t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7ng44t') format('truetype'),
    url('fonts/icomoon.woff?7ng44t') format('woff'),
    url('fonts/icomoon.svg?7ng44t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowiconkopi:before {
  content: "\e90e";
}
.icon-checkicon:before {
  content: "\e90f";
}
.icon-documenticon:before {
  content: "\e910";
}
.icon-emailicon:before {
  content: "\e911";
}
.icon-phoneicon2:before {
  content: "\e912";
}
.icon-Slimvectorobject12:before {
  content: "\e913";
}
.icon-sprites2 .path1:before {
  content: "\e914";
  color: rgb(0, 0, 0);
}
.icon-sprites2 .path2:before {
  content: "\e915";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites2 .path3:before {
  content: "\e916";
  margin-left: -0.140625em;
  color: rgb(255, 255, 255);
}
.icon-sprites2 .path4:before {
  content: "\e917";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites2 .path5:before {
  content: "\e918";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites2 .path6:before {
  content: "\e919";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites2 .path7:before {
  content: "\e91a";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites2 .path8:before {
  content: "\e91b";
  margin-left: -0.140625em;
  color: rgb(255, 255, 255);
}
.icon-sprites2 .path9:before {
  content: "\e91c";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites2 .path10:before {
  content: "\e91d";
  margin-left: -0.140625em;
  color: rgb(238, 44, 104);
}
.icon-sprites2 .path11:before {
  content: "\e91e";
  margin-left: -0.140625em;
  color: rgb(255, 255, 255);
}
.icon-sprites2 .path12:before {
  content: "\e91f";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-phoneicon:before {
  content: "\e90c";
}
.icon-Slimvectorobject1:before {
  content: "\e90d";
}
.icon-sprites .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-sprites .path2:before {
  content: "\e901";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites .path3:before {
  content: "\e902";
  margin-left: -0.140625em;
  color: rgb(255, 255, 255);
}
.icon-sprites .path4:before {
  content: "\e903";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites .path5:before {
  content: "\e904";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites .path6:before {
  content: "\e905";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites .path7:before {
  content: "\e906";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites .path8:before {
  content: "\e907";
  margin-left: -0.140625em;
  color: rgb(255, 255, 255);
}
.icon-sprites .path9:before {
  content: "\e908";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}
.icon-sprites .path10:before {
  content: "\e909";
  margin-left: -0.140625em;
  color: rgb(238, 44, 104);
}
.icon-sprites .path11:before {
  content: "\e90a";
  margin-left: -0.140625em;
  color: rgb(255, 255, 255);
}
.icon-sprites .path12:before {
  content: "\e90b";
  margin-left: -0.140625em;
  color: rgb(0, 0, 0);
}

