.sprite-arrow-right-icon {
	width: 20px;
	height: 14px;
	background-position: 0 0;
}

.sprite-arrow-right-icon_grey {
	width: 20px;
	height: 14px;
	background-position: 0 -20px;
}

.sprite-bread-arrow {
	width: 16px;
	height: 12px;
	background-position: 0 -40px;
}

.sprite-check-icon {
	width: 16px;
	height: 16px;
	background-position: 0 -60px;
}

.sprite-close {
	width: 40px;
	height: 40px;
	background-position: 0 -85px;
}

.sprite-close-banner {
	width: 11px;
	height: 11px;
	background-position: 0 -130px;
}

.sprite-doc-icon-blue {
	width: 16px;
	height: 16px;
	background-position: 0 -150px;
}

.sprite-email-icon {
	width: 20px;
	height: 16px;
	background-position: 0 -175px;
}

.sprite-globe-grid {
	width: 480px;
	height: 480px;
	background-position: 0 -200px;
}

.sprite-hamburger {
	width: 40px;
	height: 40px;
	background-position: 0 -685px;
}

.sprite-linkedin {
	width: 18px;
	height: 18px;
	background-position: 0 -730px;
}

.sprite-phone-icon {
	width: 14px;
	height: 20px;
	background-position: 0 -755px;
}

.sprite-arrow-right-icon, .sprite-arrow-right-icon_grey, .sprite-bread-arrow, .sprite-check-icon, .sprite-close, .sprite-close-banner, .sprite-doc-icon-blue, .sprite-email-icon, .sprite-globe-grid, .sprite-hamburger, .sprite-linkedin, .sprite-phone-icon {
	background-size: 485px 780px;
}

.png .sprite-arrow-right-icon, .png .sprite-arrow-right-icon_grey, .png .sprite-bread-arrow, .png .sprite-check-icon, .png .sprite-close, .png .sprite-close-banner, .png .sprite-doc-icon-blue, .png .sprite-email-icon, .png .sprite-globe-grid, .png .sprite-hamburger, .png .sprite-linkedin, .png .sprite-phone-icon {
	background-image: url("images/sprites.png");
}

.svg .sprite-arrow-right-icon, .svg .sprite-arrow-right-icon_grey, .svg .sprite-bread-arrow, .svg .sprite-check-icon, .svg .sprite-close, .svg .sprite-close-banner, .svg .sprite-doc-icon-blue, .svg .sprite-email-icon, .svg .sprite-globe-grid, .svg .sprite-hamburger, .svg .sprite-linkedin, .svg .sprite-phone-icon {
	background-image: url("images/sprites.svg");
}
