.sticky-banner-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all .4s ease-in-out;
    
    &.closed {
        transform: translateY( 100% );
    }
    
    .banner {
        position: relative;
        color: #fff;
        padding: 32px 90px 23px 70px;
        
        @media ( max-width: 1024px ) {
            padding-left: 15px;
            padding-right: 30px;
            
            .close-btn {
                right: 15px;
            }
        }
        
        p {
            margin: 0;
        }
        
        p, li, a {
            color: inherit;
            font-size: 15px;
            line-height: 1.3;
        }
    }
    
    .close-btn {
        display: inline-block;
        position: absolute;
        right: 70px;
        top: 56%;
        transform: translateY( -50% );
        @include svg_bg( 11px, 11px, 'close-banner' );
    }
}