// Text alignement classes
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

// Colors
a {
    color: $main_col_2;
    text-decoration: underline;
    //font-size:16px;
    font-size:18px;
    &:hover {
        text-decoration: underline;
        color: $main_col_1;
        transition: .2s all;
    }

    &:focus, &:active {
        color: $main_col_1;
    }
}

h1, h2, h3, h4, h5, h6{
    color: $main_col_1;
    line-height: 1.25;
    font-family:$main_font;
    font-weight:normal;
    margin: 0;
}
p{
    font-family:$second_font;
    font-size:18px;
    line-height: 1.8;
    color: $text-color;
    font-weight: 300;
    strong{
        font-family:$second_font;
        font-size:18px;
        line-height: 1.8;
        color: $text-color;
        font-weight:bold;
    }
}
h1{
    font-size:40px;
}
h2{
    font-size:32px;
}
h3{
    font-size:26px;
}
h4{
    font-size:24px;
}
h5{
    font-size:22px;
}
h6{
    font-size:20px;
}
