// - - - COLORS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
$primary-color: #fb2266 !default;

$text-color: #666666 !default;
$grey-color: #f0f0f0;
$error-color: red !default;
$success-color: green !default;
$warning-color: yellow !default;
$title-color: #fff;
$white:#fff;

$main_col_1:#b13178;
$main_col_2:#ee9702;

// - - - GRID - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
// Columns
$grid-width: 1280px !default;
$grid-column-count: 12 !default;
$grid-column-gutter: 40px !default;

// Breakpoints
$grid-breakpoints: (
    'small'   : (0em,          40em),
    'medium'  : (40.0625em, 64em),
    'large'   : (64.0625em, 90em),
    'xlarge'  : (90.0625em, 120em),
    'xxlarge' : (120.0625em),
) !default;

$main_font: 'Bree Serif', serif;
$second_font: 'Overpass', sans-serif;